standby_mode          = 'on'
primary_conninfo      = 'host=192.168.0.10 port=5432 user=replication password=password'
trigger_file = '/path_to/trigger'
restore_command = 'cp /path_to/archive/%f "%p"'
